.itinerary-cards_Hawaii {
    background: url(../assets/Images/hawaii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 73vh
}

.itinerary-cards_Iceland {
    background: url(../assets/Images/iceland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 73vh
}

.itinerary-cards_Greece {
    background: url(../assets/Images/greece.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 73vh
}

.itinerary-cards_Iceland h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    margin-top: 0rem;
}

.itinerary-cards_Greece h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    margin-top: 0rem;
}

.itinerary-cards_Hawaii h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    margin-top: 0rem;
}
