* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.nav-bar {
    display: flex;
    background-color: #FFFFFF;
}

.nav-bar_logo {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 66%;
    color: #335576;
    font-weight: bold;
}
.nav-bar_logo a  {
    color: #335576;
    font-weight: bold;
}

.nav-bar_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.nav-bar_menu li {
    padding: 1rem;
    list-style: none;
   ;
}

.nav-bar_items .current {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

a {
    text-decoration: none;
    list-style: none;
    color: black
}


a:hover {
 color: #DB7A4E;
}

.itinerary-cards h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    margin-top: 0rem;
}


.itinerary-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.container-Friday, .container-Saturday, .container-Sunday {
    background-color: #FFFFFF;
    width: 15rem;
    font-size: 1.5rem;
    height: fit-content;
    border-radius: 5px;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
}

.itinerary-container p {
    padding: 1rem;
}

.itinerary-container h3 {
    text-decoration: underline;
}

.itinerary-container li {
    background-color: #FEFAF5;
    list-style: none;
}

.itinerary-container ul {
    padding-left: 0rem;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.footer img {
    height: 20%;
    width: auto
}

.footer h2 {
    color: #335576;
    padding: 1rem 2rem;
}

.footer-info {
    padding: 0.25rem 2rem;
    color: #335576;
    flex-direction: column;
}

.footer-subtitle {
    color: #DB7A4E;
    padding: 0.25rem 2rem;
    
}

.footer-hours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-title {
    align-items: center;
    justify-content: center;
}

.footer-hours_days{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
}

.footer-hours_times {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
}

/*.footer-hours_days p{
    padding-left: 0rem;
    justify-content: flex-start;
}
*/
.footer-hours_times p {
    justify-content: flex-start;
    
}


.get-started_container {
    background-color: #FEFAF5;
    color: #335576;
    align-items: center;
    text-align: center;
    
}

.form-container {
    justify-content: stretch;
    align-items: stretch;
    padding-top: 25vh;
}

