* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

.nav-bar {
    display: flex;
    background-color: #FFFFFF;
}

.nav-bar_logo {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 66%;
    color: #335576;
    font-weight: bold;
}
.nav-bar_logo a {
    color: #335576;
    font-weight: bold;
}

.nav-bar_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-bar_menu li {
    padding: 1rem;
}


.nav-bar .active {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
}

a {
    text-decoration: none;
    list-style: none;
    color: black
}


a:hover {
 color: #DB7A4E;
}

.nav-bar_items .current {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

.hero {
    background-color: #FEFAF5;
    display: flex;
}

.hero-text {
    flex-direction: column;
    margin: 8rem;
    width: 40%;
    text-align: left;
    justify-content: left;
    color: #335576;
    padding: 5rem 4rem;
    flex-wrap: wrap;
}

.hero-text p {
    padding: 1.5rem 0rem;
}

.hero_button {
    background-color: #DB7A4E;
    color: white;
    font-size: 1rem;
    border-radius: 3rem;
    padding: 0.25rem 1.5rem;
    border: none;
}

.hero-image {
    width: 33%;
    margin: .5rem;
    height: 33%;
}

.recommendations_container {
    display: flex;
    justify-content: center;
}

.recommendations h2 {
    color: #335576;
    margin: 1rem;
    padding: 1rem;
}

.recommendations_Hawaii {
    background-image: url(../2.0-Assets/Images/hawaii.jpg);
    background-size: cover;
    box-sizing: content-box;
    height: 30rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 5px;
    border: 1px solid black 20%;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.5);
    
}

.recommendations p {
    color: white;
    font-size: 2rem;
    margin-top: 26rem;
    margin-left: 12rem;
    font-weight: 515;
}

.recommendations_Greece {
    background-image: url(../2.0-Assets/Images/greece.jpg);
    background-size: cover;
    box-sizing: content-box;
    height: 30rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 5px;
    border: 1px solid black 20%;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.5);
}

.recommendations_Iceland {
    background-image: url(../2.0-Assets/Images/iceland.jpg);
    background-size: cover;
    box-sizing: content-box;
    height: 30rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 5px;
    border: 1px solid black 20%;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.5);
}

.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
}


.footer h2 {
    color: #335576;
    padding: 1rem 2rem;
}

.footer-info, .footer_hours-info {
    padding: 0.25rem 2rem;
    color: #335576;
    flex-direction: column;
}

.footer-subtitle, .footer_hours-subtitle {
    color: #DB7A4E;
    padding: 0.25rem 2rem;
    
}

.footer-hours_info-container {
    display: flex;
}

.date {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: column;
}